Package: com.yourname.ledbreathe
Name: LEDBreathe
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Breathing/crossfade LED effect tweak (rootless, Dopamine)
Maintainer: You <you@example.com>
Author: You <you@example.com>
Section: Tweaks
Depends: firmware (>= 16.0), preferenceloader
